<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title th:text="${titulo}"></title>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"></link>
</head>
<body>

	<div class="container">
		<table class="table">
			<thead>
				<th>ID FOTO PADRE</th>
				<th>FECHA DE CREACIÓN</th>
				<th>VISITAS</th>
				<th>IMAGEN</th>
				<th>PIXELES</th>
				<th>RESOLUCIÓN</th>
			</thead>
			<tbody>
				<tr th:each="digital:${digital}">
					<td class="poner" th:text="${digital.id}"></td>					
					<td th:text="${digital.fechaCreacion}"></td>
					<td th:text="${digital.numVisitas}"></td>
					<td th:text="${digital.imagen}"></td>
					<td th:text="${digital.pixeles}"></td>
					<td th:text="${digital.resolucion}"></td>
			</tbody>
		</table>
	</div>

</body>
<!-- Código que se implementa para que se pueda ejecutar Bootstrap -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
	integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
	crossorigin="anonymous"></script>
<script
	src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
	integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
	crossorigin="anonymous"></script>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
	integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
	crossorigin="anonymous"></script>
</html>